head{
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5d786f;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #a4c3a2;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #5d786f;
    font-size: 38px;
}
 
h3{
    font-size: 23px;
}

p{
    font-size: 19px;
}
.activities {
    margin-bottom: 20px;
}

.activity-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.activity-item img {
    width: 50%;
    height: 45%;
    border-radius: 10px;
}

.activity-text {
    flex-grow: 1;
    margin-left: 20px;
}

.activity-text h4 {
    color: #5d786f;
    font-size: 30px;
}

.activity-text p {
    color: #333;
    font-size: 26px;
}

.members {
    display: flex;
    overflow-x: auto; /* Cho phép cuộn ngang */
    padding: 10px 0;
}

.member {
    width: 180px;
    text-align: center;
    margin: 10px;
    border: 2px solid #5d786f; /* Viền màu xanh đậm */
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box; /* Đảm bảo viền không làm thay đổi kích thước phần tử */
}

.member img {
    width: 60%;
    height: 55%;
    border-radius: 50%; /* Để ảnh thành hình tròn */
    margin-bottom: 10px;
}

footer {
    text-align: left;
    background-color: #5d786f;
    color: white;
    padding: 10px;
}

footer .footer-content {
    text-align: center;
}

footer .social-links {
    list-style-type: none;
    padding: 0;
}

footer .social-links li {
    display: inline;
    margin: 0 10px;
}

footer .social-links li a {
    color: white;
    text-decoration: none;
}